@model IcreCreamParlour.Model.Entities.Book
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h6 class="card-title">Insert Book</h6>
            <form class="forms-sample" asp-area="Admin" asp-controller="Books" asp-action="Create" enctype="multipart/form-data">
                <div class="form-group row">
                    <label asp-for="Title" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" asp-for="Title" placeholder="Title">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Description" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" asp-for="Description" autocomplete="off" placeholder="Description">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ImageFile" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="file" class="icon-file" name="ImageFile" asp-for="ImageFile" accept="images/*">
                        @*<img asp-append-version="true" src="@("~/images/" + Model.ImageFile)"/>*@
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Price" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" asp-for="Price" placeholder="Price">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Author" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" asp-for="Author" placeholder="Author">
                    </div>
                </div>
                <div class="form-check form-check-flat form-check-primary mt-0">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Remember me
                        <i class="input-frame"></i>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

