@model IcreCreamParlour.Model.Entities.Book
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Update Book</h1>
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h6 class="card-title">Insert Book</h6>
            <form class="forms-sample" asp-area="Admin" asp-controller="Books" asp-action="Edit">
                <div class="form-group row">
                    <label asp-for="Title" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" asp-for="Title" placeholder="Title">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Description" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" asp-for="Description" autocomplete="off" placeholder="Description">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Image" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="file" class="icon-file" asp-for="Image">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Price" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" asp-for="Price" placeholder="Price">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="CreateDate" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" asp-for="CreateDate">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Author" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" asp-for="Author" placeholder="Author">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="UpdateDate" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" asp-for="UpdateDate">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="OrderDetails" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" asp-for="OrderDetails" placeholder="OrderDetails">
                    </div>
                </div>
                <div class="form-check form-check-flat form-check-primary mt-0">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Remember me
                        <i class="input-frame"></i>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>
